fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
sqlalchemy==2.0.31
psycopg2-binary
boto3==1.34.144
langchain==0.2.6
langchain-aws==0.1.9
langchain-core==0.2.11
python-dotenv==1.0.1
langchain-mcp-adapters
langgraph
mcp